<% @title = t('milestones.index.title') %>

<% content_for :js do %>
<script>
  util.data.set('milestones', <%= json @milestones %>);
</script>
<% end %>

<%= render partial: "navigation", locals: {path: 'milestones'} %>

<div class="container milestones">
  <div class="contents">
    <ul class="list head">
      <li>
        <div class="list-item clearfix">
          <span class="list-item-col name"><%= t'milestones.name' %></span>
          <span class="list-item-col start_day"><%= t 'milestones.start_day' %></span>
          <span class="list-item-col end_day"><%= t 'milestones.end_day' %></span>
        </div>
      </li>
    </ul>
    <ul id="milestone-list" class="list"></ul>
    <form id="milestone-form" class="form" name="milestone">
      <ul class="list">
        <li>
          <div class="list-form clearfix">
            <div class="left">
              <span class="list-item-col name">
                <input class="input" type="text" name="name" value="" placeholder="<%= t 'milestones.name' %>" />
              </span>
              <span class="list-item-col start_day">
                <input class="input date" type="text" name="start_day" placeholder="<%= t 'milestones.start_day' %>" />
              </span>
              <span class="list-item-col end_day">
                <input class="input date" type="text" name="end_day" placeholder="<%= t 'milestones.end_day' %>" />
              </span>
            </div>
            <div class="right">
              <span class="list-action">
                <button class="button action icon add" type="submit"><%= t 'action.create' %></button>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>

<script type="text/template" id="milestone-template">
  <div data-milestone-id="<%%= id %>" class="list-item clearfix">
    <div class="left">
      <span class="list-item-col name"><%%= name %></span>
      <span class="list-item-col start_day"><%%= start_day %></span>
      <span class="list-item-col end_day"><%%= end_day %></span>
    </div>
    <div class="right">
      <span class="list-action">
        <button class="button icon edit"><%= t 'action.edit' %></button>
        <button class="button caution icon delete"><%= t 'action.delete' %></button>
      </span>
    </div>
  </div>
</script>
<script type="text/template" id="milestone-form-template">
  <div data-milestone-id="<%%= id %>" class="form list-form clearfix">
    <div class="left">
      <span class="list-item-col name">
        <input class="input" type="text" name="name" value="<%%= name %>" placeholder="<%= t 'milestones.name' %>" />
      </span>
      <span class="list-item-col start_day">
        <input class="input date" type="text" name="start_day" value="<%%= start_day %>" placeholder="<%= t 'milestones.start_day' %>" />
      </span>
      <span class="list-item-col end_day">
        <input class="input date" type="text" name="end_day" value="<%%= end_day %>" placeholder="<%= t 'milestones.end_day' %>" />
      </span>
    </div>
    <div class="right">
      <span class="list-action">
        <button class="button action save" type="submit"><%= t 'action.save' %></button>
        <a class="cancel" href="javascript:void(0)"><%= t 'action.cancel' %></a>
      </span>
    </div>
  </div>
</script>
