<% @title = t('sites.index.title') %>

<% cache "sites_index_en" do %>
  <div class="top-wrap">
    <div class="top-container">
      <div class="banner-contents">
        <div class="banner">
          <h2 class="banner-text"><%= t 'sites.index.teaser1' %></h2>
        </div>
      </div>

      <form id="login-form" class="form">
        <div>
          <input class="input" type="text" name="email" value="" placeholder="<%= t 'common.email' %>" autocomplete="off" />
        </div>
        <div>
          <input class="input" type="password" name="password" value="" placeholder="<%= t 'common.password' %>" autocomplete="off" />
        </div>
        <p class="actions">
          <button class="button primary large" type="submit"><%= t 'sites.index.signin' %></button>
        </p>
        <div class="demo">
          <h4><%= t 'sites.index.demo.description' %></h4>
          <p><%= t 'sites.index.demo1.user' %>, <%= t 'sites.index.demo1.password' %></p>
          <p><%= t 'sites.index.demo2.user' %>, <%= t 'sites.index.demo2.password' %></p>
        </div>
        <div id="login-form-errors" class="errors"></div>
      </form>
    </div>
  </div>
<% end %>
